
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'josefin Sans', sans-serif;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color:#202020;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#05b4ff;
    --big-font:4.5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 3fr auto 2fr;
    align-items: end;
    background: transparent;
    padding: 22px 5%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}

#menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
    position: relative;
    color: var(--text-color);
    right: -140px;
    top: 8px;
    cursor: pointer;
    transition: all .45s ease;
    text-align: center;
    font-size: 25px;
}
.navlist{
    display: flex;
    position: absolute;
    top: 30px;
    right: 60px;
}
.navlist a{
    color: var(--second-color);
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px;
    padding: 30px 0px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--text-color);
}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 25px;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 35px;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
footer{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--bg-color);
    padding: 2px;
}
.footer-icons i{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--second-color);
    display: inline-block;
    margin: 0 0.5rem;
}
.footer-icons i:hover{
    color: var(--main-color);
    background: var(--text-color); 
}

/** ABOUT PAGE **/

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}
.about-img img{
    max-width: 430px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}
#container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

#education {
    align-items: center;
    padding: 2rem;
    background-color: var(--bg-color);
}
  
.education-text {
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
}
article{
    text-align: left;
    margin-bottom: 20px;
}
article h4{
    margin-bottom: 5px;
}
article p{
    line-height: 1.5;
    position: relative;
    color: var(--second-color);
}
hr{
    color: var(--text-color);
    border: none;
    border-top: 1px solid ;
    margin: 20px 0;
}
#skills{
    margin-top: 10px;
    
}
.skill-items{
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
}
table {
    background-color: var(--bg-color);
    width: 100%;
    height: 30px;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 17px;
    table-layout: fixed;
    border: 5px solid;
}
th, td {
    color: var(--second-color);
    padding: 10px;
    text-align: left;
    border-bottom: 5px solid ;
    word-break: break-all;
}
th {
    color: var(--text-color);
}
td{
    color: var(--second-color);
    border: 5px solid ;
}
.hobbies-container h1{
    font-size: var(--h2-font);
    line-height: 1;
}
.hobby-item{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.hobby{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.hobby img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: 0.5s;
}
.hobby:hover img{
    transform: scale(1.1);
}
.hobby video{
    width: 100%;
    height: 160px;
    border-radius: 8px;
    display: block;
    transition: 0.5s;   
}
.hobby:hover video{
    transform: scale(1.1);
}

/**SERVICES PAGE**/

.services{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.box{
    background: rgb(66, 63, 63);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    box-sizing: border-box;
}
.service-icons i{
    font-size: 40px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
/** PORTFOLIO PAGE**/

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.project{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.project img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: 0.5s;
}
.project:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: 0.5s;
}
.layer h5{
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}
.layer p{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.6;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.project:hover .layer{
    height: 100%;
}
/**BLOG PAGE**/ 

.blog-content {
    margin-top: 10px;
    padding: 20px;
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    gap: 2.5rem;
  
}
.blog-video-container,
.blog-container {
    margin: 10px;
    width: 100%;
    height: 70%;
    background-color: rgb(66, 63, 63);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(202, 186, 186, 0.1);
    transition: all .45s ease;
}
.blog-video-container video,
.blog-container img { 
    width: 90%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}
.blog-video-container p,
.blog-container p {
    padding: 20px;
    color: var(--second-color);
    bottom: 5px;
    font-size: 16px;
}
.blog-audio-container {
    height: 100px;
}
.blog-container:hover,
.blog-video-container:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

/** CONTACT PAGE**/
.contact-content{
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2.5rem;
}
.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}
.contact-list{
    margin-bottom: 2.8rem;
}
.contact-list li{
    margin-bottom: 12px;
}
.contact-list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}
.contact-list li a:hover{
    color: var(--text-color);
    transform: translateY(5px);
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: var(--second-bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#back-to-top-btn {
    position: relative;
    color: var(--main-color);
    margin-bottom: 20px;
    margin-left: 20px;
    transition: .3s;
    cursor: pointer;
  }
  
#back-to-top-btn.show {
    visibility: visible;
    opacity: 3;
}


@media (max-width: 1280px ) {
    header{
        padding: 22px 2%;
        transition: .2s;
    }
    .navlist{
        display: flex;
        position: absolute;
        top: 30px;
        right: 60px;
    }
    section{
        padding: 110px 3% 60px;
    }
    .navlist a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media (max-width: 769px) {
    .menu-icon{
        display: block;
    }
    :root{
        --big-font:4em;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .2s;
    }
    .home-text h3{
        font-size: 2rem;
    }
    .navlist{
        display: none;
        position: absolute;
        top: 75%;
        width: 200px;
        height: 32vh;
        background: var(--bg-color);
        border-radius: 10px;
        transition: all .45s ease;      
    }
    .navlist a{
        display: block;
        margin: 4px 0;
        padding: 2px 15px;
        transition: all .45s ease;
    }
    .navlist a:hover {
        color: var(--main-color);
        transform: translateY(-3px);
    }
    .navlist a.active{
        border: none;
    }
    .navlist.show{
        display: block;
        right: 2%;
    }
    .services-content,
    .portfolio-content,
    .blog-content{
        grid-template-columns: repeat(3, 3fr);
    }
    .layer h5,
    .layer p{
        font-size: 5px;
    }
    .layer i{
        font-size: 5px;
        width: 10px;
        height: 10px;
    }
    .blog-video-container, 
    .blog-container{
        height: 100%;
    }
    .blog-video-container video,
    .blog-container img{
        height: 50%;
    }
    .contact-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media ((max-width:660px) and (orientation:landscape)) {
    header{
        margin: 2px;
        padding: 2px;
        transition: .2s;
    }
    .menu-icon{
        display: none;
    }
    .navlist{
        display: flex;
        position: absolute;
        top: 10px;
        right: 60px;
        flex-direction: row;
        background: transparent;
    }
    section{
        padding: 110px 3% 60px;
    }
    .navlist a{
        font-size: 10px;
        padding: 2px 0;
        margin: 0 5px;
    }
    .services-content,
    .portfolio-content,
    .blog-content{
        grid-template-columns: repeat(3, 3fr);
    }
    .layer h5,
    .layer p{
        font-size: 5px;
    }
    .layer i{
        font-size: 5px;
        width: 10px;
        height: 10px;
    }
    .blog-video-container, 
    .blog-container{
        height: 100%;
    }
    .blog-video-container video,
    .blog-container img{
        height: 40%;
    }
    .contact-content{
        grid-template-columns: repeat(2, 2fr);
    }
}
@media (max-width:480px) {
    .menu-icon{
        display: block;
    }
    #menu-toggle:checked + .menu-icon ~ .navlist{
        display: block;
        right: 10px;
    }
    .home-text h3{
        font-size: 1.5rem;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img img{
        width: 88%;
        height: auto;
        max-width: 88%;
    }
    #container{
        grid-template-columns: 1fr;
    }
    .hobby-item{
        grid-template-columns: repeat(2, 2fr);
    }
    .contact{
        grid-template-columns: 1fr;
    }
    .navlist{
        position: absolute;
        top: 75%;
        right: 0;
        width: 200px;
        height: 30vh;
        background: var(--bg-color);
        display: none;
        border-radius: 10px;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 4px 0;
        padding: 2px 15px;
        transition: all .45s ease;
    }
    .navlist a:hover{
        color: var(--main-color);
        transform: translateY(-3px);
    }
    .services-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .layer h5{
        font-size: 20px;
    }
    .layer p{
        font-size: 15px;
    }
    .layer i{
        font-size: 15px;
        width: 20px;
        height: 20px;
    }
    .blog-content{
        grid-template-columns: repeat(1, 1fr);

    }
    .blog-video-container, 
    .blog-container{
        height: auto;
        margin-bottom: 5px;
    }
    .blog-video-container video,
    .blog-container img{
        height: 50%;
    }
    .contact-content{
        grid-template-columns: repeat(1, 1fr);
    }
}